@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');


.rodblock {
    margin: auto;
    width: 400px;
    height: 650px;
    box-shadow: 1px 1px 1px 1px black;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.sneaker {
    width: 400px;
}

b {
    font-size: 30px;
}


.podblock {
    display: flex;
}

.text {
    width: 200px;
    margin-top: 50px;
}


.btnn {
    margin-top: 50px;
    width: 200px;
    height: 105px;
}

.btnn :first-child {
    width: 120px;
    height: 45px;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 60px;
    border-radius: 3px;
    border: solid blue 2px;
    color: blue;
    background-color: transparent;
}

.nike {
    font-size: 27px;
    padding-left: 20px;
    font-family: 'Prompt', sans-serif;
}

.dol {
    padding-left: 20px;
    padding-top: 15px;
    font-family: 'Prompt', sans-serif;
}

hr {
    width: 380px;
}

.lorem {
    padding-top: 1px;
    padding-left: 10px;
    font-size: 19px;
    font-family: 'Prompt', sans-serif;
}

.dob {
    margin-top: 10px;
    margin-left: 30px;
    width: 180px;
    height: 38px;
    border-radius: 4px;
}

.btnDel {
    margin-top: 5px;
    margin-left: 30px;
}

.delbtn {
    border: 0px;
    background-color: transparent;
    color: red;
}

.delbtn:hover {
    text-decoration: underline;
}

.adm1 {
    position: absolute;
    margin-top: 50px;
    margin-left: 390px;
    box-shadow: 2px 2px 2px;
    background-color:white;
    width: 200px;
    height: 96px;
    font-size: 12px;
    display: flex;
}

.ipsum {
    padding-top: 10px;
    padding-left: 20px;
}

.x {
    margin-left: 10px;
    background-color: transparent;
    border: 0px;
    color: red;
}